@page "/user/login"
@model NetBB.Pages.User.LoginModel
@{
    Layout = "_LayoutPreactApp";
}

<script>
    var ____renderJson____ = @Html.Raw(Json.Serialize(@Model.RenderJson));
</script>
@{
    switch (Model.PageMode)
    {
        case "logined":
            <div id="app_user_logined"></div>
            break;
        default:
            <div id="app_user_login"></div>
            break;
    }
}
