@page
@model NetBB.Pages.User.RegisterModel
@{
    Layout = "_LayoutPreactApp";
}

<script>
    var ____renderJson____ = @Html.Raw(Json.Serialize(@Model.RenderJson));
</script>
@{
    switch (Model.PageMode)
    {
        case "registered":
            <div id="app_user_registered"></div>
            break;
        default:
            <div id="app_user_register"></div>
            break;
    }
}
