@page "/admin/post/{PostId}"
@model NetBB.Pages.Admin.Posts.EditPostModel
@{
    Layout = "_LayoutPreactApp";
}

<script>
    var ____renderJson____ = @Html.Raw(Json.Serialize(@Model.RenderJson));
</script>
@{
    switch (Model.PageMode)
    {
        default:
            <div id="app_admin_posts_edit_post"></div>
            break;
    }
}
