@page "/admin/posts"
@model NetBB.Pages.Admin.Posts.PostIndexModel
@{
    Layout = "_LayoutPreactApp";
}

<script>
    var ____renderJson____ = @Html.Raw(Json.Serialize(@Model.RenderJson));
</script>
@{
    switch (Model.PageMode)
    {
        default:
            <div id="app_admin_posts"></div>
            break;
    }
}
